*{
    background-image: url("img/pokeimagen2.jpg");
    color: white;
}

h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.container-form{
    margin-top: 20px;
    padding: 15px;
    background: white;
    border-radius: 15px;
}

#get-pokemons{
    background: green;
}

.mostrar{
    visibility: visible;
    background: red;
    color: white;
}

.ocultar{
    visibility: hidden;

}